/**
 * Hoja de estilos para utilizar solo dentro del CMS a
 */

 .myDropzone.inline{
  display: inline-block !important;
 }
  .form-control.inline{
  display: inline-block !important;
 }
.dz-image{
    background: gray!important;
}
.cms-form .form-group {
    padding-right: 40px;
}

.checkbox-label, .radiobutton-label{
    padding-left: 1rem;
}

.color-label{
    display: block;
}

.mensaje{
    display: block;
    margin-bottom: 1rem;
}

.image-preview {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-align: center;
}

.image_upload.form-group img,
.upload.form-group img {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('https://archivos.fnartes.gob.ar/cms/resources/checkers.svg');
}

.blocks-container .block {
  position: relative;
  margin-bottom: 10px;
  padding: 0 14px 14px;
  border-radius: 4px;
  border: 1px solid #e3e5e8;
  background: #fafafa;
  outline: none;
}

.blocks-container .block-title {
  margin: 0 -14px 14px;
  padding: .5rem 1rem;
  color: #76808c;
  width: calc(100% + 28px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid #e3e5e8;
  background: #eef0f1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.blocks-container .block-title i {
    padding-right: 10px;
}


.block.closed .block-fields {
    display: none;
}

form label {
    color: #576575;
    font-size: 1.2rem;
}

.image_upload.form-group input[type=file] {
    width: 360px;
    border: none;
}

fieldset.closed :not(legend) {
    display: none;
}

fieldset.expanded {
    display: inherit;
}

.hidden label {
    display: none;
}

.compound {
    overflow: hidden;
}

.compound > label{
    display: block;
}

.compound > .compound > label{
    display: inline;
}

.compound > div {
    padding-left: 20px;
    font-size: 12px;
}


.compound > .compound {
    width: 33%;
    float: left;
}
.compound > .compound > label {
    font-size: 14px;
}

.btn.hidden {
    display: none;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.brand-image {
  margin-left: 6px;
  max-height: 35px;
}

.main-sidebar .brand-text {
  font-size: 10px;
  line-height: 1.2;
  display: block;
  margin-top: 3px;
}

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.nav-link {
  font-size: 1.3rem;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link {
  padding: 1rem 1.4rem;
  min-height: 2.4rem;
  margin-bottom: 0;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
  background: rgba(255, 255, 255, 0.1);
}

.sidebar-dark-danger .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-dark-dark .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-dark-info .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-dark-light .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-dark-secondary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-dark-success .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-dark-warning .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-danger .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-dark .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-info .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-light .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-secondary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-success .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-warning .nav-sidebar>.nav-item>.nav-link.active {
  box-shadow: none;
}






.repeater .items .item {
  position: relative;
  padding: 1rem;
  border: 1px solid #e3e5e8;
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 1rem;
}

.block .actions {
  float: right;
  position: absolute;
  top: 6px;
  right: 5px;
  z-index: 1;
  cursor: default;
}

.actions a {
    padding: 0 .6rem;
    width: 15px;
    height: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.action {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: .6;
}


.nav-sidebar .nav-header {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
}


.btn.select-file {
    border: 1px dashed rgba(0, 0, 0, 0.2) !important;
    font-size: 1.2rem;
}

.ui-sortable-handle {
  cursor: grab;
}


.section_title {
    margin: 3rem 0 1rem;
}

.media-uploader__modal ul {
  padding-left: 0;
}

.media-uploader__modal .media {
  display: block;
  position: relative;
  float: left;
  padding: 8px;
  margin: 0;
  color: #444;
  list-style: none;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 16.6%;
  box-sizing: border-box;
}

.media-uploader__modal .media__preview {
  position: relative;
  box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05);
  background: #eee;
  cursor: pointer;
}

.media-uploader__modal .media__preview:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.media-uploader__modal .media__thumbnail {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: opacity .1s;
}

.media-uploader__modal .media__thumbnail--centered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(50%,50%);
  transform: translate(50%,50%);
}

.media__thumbnail img {
  transform: translate(-50%,-50%);
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
}
