  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mobile{
    display: block;
  }
  .computer{
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mobile{
    display: block;
  }
  .computer{
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mobile{
    display: block;
  }
  .computer{
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .computer{
    display: block;
  }
  .mobile{
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .computer{
    display: block;
  }
  .mobile{
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1370px) {

  .computer{
    display: block;
  }
  .mobile{
    display: none;
  }
}