
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix::after {
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	width: 0;
	line-height: 0;
	font-size: 0;
}

.controls-container {
	max-width: 400px;
	width: 90%;
	margin: 50px auto;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

	.controls-container header {
		font-weight: 700;
		font-size: 15pt;
		background-color: #476e8d;
		border-top: 15px solid #40607a;
		padding: 15px 0;
		color: #fff;
	}

	.controls-container .options {
		padding: 40px 20px;
		background-color: #f7f7f7;
		border-top: 1px solid #fbfbfb;
	}

	.controls-container input[type="button"] {
		display: block;
		width: 100%;
		background-color: #d9cb2b;
		color: #222;
		text-transform: uppercase;
		border: none;
		padding: 15px 0;
		margin: 20px 0 0 0;
		cursor: pointer;
		-webkit-appearance: none;
		-webkit-border-radius: 4px;
		border-radius: 4px;

		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;
	}

	.controls-container input[type="button"]:first-child {
		margin-top: 0;
	}

	.controls-container input[type="button"]:hover {
		background-color: #c7ba2c;
		color: #111;
	}

	.controls-container footer {
		font-weight: 400;
		font-size: 10pt;
		text-align: center;
		background-color: #fff;
		border: 1px solid white;
	}

	.controls-container footer::after {
		content: "";
		clear: both;
		display: block;
		height: 0;
		visibility: hidden;
		width: 0;
		line-height: 0;
		font-size: 0;
	}

		.controls-container footer a {
			display: block;
			position: relative;
			width: 50%;
			float: left;
			color: #ccc;
			text-decoration: none;
			padding: 15px 10px;
			text-align: center;

			-webkit-transition: all .2s;
			-moz-transition: all .2s;
			-ms-transition: all .2s;
			-o-transition: all .2s;
			transition: all .2s;
		}

		.controls-container footer a:first-child::after {
			content: "";
			display: block;
			position: absolute;
			width: 1px;
			height: 60%;
			top: 20%;
			right: 0;
			background-color: #f5f5f5;
		}

		.controls-container footer a:hover {
			color: #222;
			background-color: #fafafa;
		}

		.controls-container footer:hover a::after {
			display: none;
		}


.modal-content {
}

.modal-content > .wrapper {
	max-width: 500px;
	width: 90%;
	margin: 0px auto;
	padding: 50px;
}

.modal-content h2 {
	font-size: 26px;
	color: #40607a;
	font-weight: bold;
	margin: 0 0 30px 0;
}

.modal-content .form {
}

.modal-content .row {
	position: relative;
	margin: 25px 0 0 0;
}

.modal-content .row:first-child {
	margin-top: 0;
}

.modal-content .row::after {
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	width: 0;
	line-height: 0;
	font-size: 0;
}
.modal-content .row.buttons {
	text-align: right;
}

.modal-content input[type="text"],
.modal-content textarea {
	display: block;
	width: 100%;
	background-color: #fff;
	font-size: 26px;
	border: 1px solid #f5f5f5;
	padding: 12px 14px;
	border-radius: 0;
	box-shadow: none;
	-webkit-appearance: none;
	-webkit-border-radius:0;
    border-radius:0;
}

.modal-content input[type="text"]:focus,
.modal-content textarea:focus {
	border: 1px solid #f0f0f0;
}

.modal-content label {
	display: block;
	text-transform: uppercase;
	padding: 0 6px;
	margin: 0 0 5px 0;
	color: #40607a;
	font-size: 12px;
	font-weight: bold;
	line-height: normal;
	cursor: pointer;

	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.modal-content input[type="submit"] {
	background-color: #476e8d;
	color: #fff;
	text-transform: uppercase;
	border: none;
	padding: 25px 60px;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

.modal-content input[type="submit"]:hover {
	background-color: #40607a;
}

.modal-content .close-modal {
	display: inline-block;
	color: #333;
	text-decoration: none;
	margin: 0 40px 0 0;
	text-transform: uppercase;
}

.modal-content .close-modal:hover {
	color: #111;
	text-decoration: underline;
}
