/* 
    Document   : dashboard
    Created on : 
    Author     : Gabriel Fojo
    Description: Custom Css
        
*/


body > .header .logo {
  font-family: droid_sansregular;
  background-color:#132D60 ;

}

body > .header .logo span{
  font-family: chunkfiveroman;

}

/* PasteBoard*/

#pasteboard{
min-height:120px;
border:1px dashed #ccc;
margin-bottom:10px;
background-color:#FDFFA3;
padding-top:15px;
display:none;
}

/* Config Panel*/

@media screen {
#config_panel_bt{
position: fixed;
top:150px;
right:0px;
background: rgba(0, 0, 0, 0.7);
border-radius: 5px 0px 0px 5px;
padding: 10px 15px;
font-size: 16px;
z-index: 999999;
cursor: pointer;
color: #ddd;
}

#config_panel_content{
	width:170px;
	position: fixed;
	top:150px;
	right:-170px;
	border:3px solid rgba(0, 0, 0, 0.1);
	min-height:120px;
	z-index: 999999;
	background-color:#fff;
	padding:5px;
}
}

/* Loader */

.box-body,.box{
    position:relative;
}
.loader{
    position:absolute;
    width:100%;
    text-align: center;
   top:50%;
   margin-top:-20px;

}  

.loader > div{
    background: #fff;
    display:inline;
    padding: 14px 8px;
    border-radius: 8px;
}   

.sidebar-menu ul li{
  list-style:none;  
}

.sidebar-menu ul li i{
  width:20px;
}

/* Matchheight adjust - sending footer to the bottom*/

/*.small-box > .small-box-footer{*/
/*position:absolute;*/
/*bottom:0px;*/
/*width:100%;*/
/*}*/

.presidencia_logo{
float:right;
margin:0px;
width:370px;
}

.secretaria_logo{
margin:30px 0px 0px 0px;
width:240px;
}

.header_institucional{
padding:15px;
border-bottom:1px solid #ccc;
/*background-color: #ccc;*/
position: relative;
}

/* ==== Dashboard/users ====*/



.dashboard_shortcut{
    margin-bottom:10px;
    background-color:#ECECEC;
    border-radius: 3px;
    -webkit-transition:  -webkit-transform .3s;
    transition:  transform .3s;
}

.dashboard_shortcut:hover{
-webkit-box-shadow: 1px 1px 5px 1px rgba(111,111,111,.5);
box-shadow: 1px 1px 5px 1px rgba(111,111,111,.5);

-moz-transform: scale(1.01);
-webkit-transform: scale(1.01);
-o-transform: scale(1.01);
-ms-transform: scale(1.01);
transform: scale(1.01);
}


.dashboard_shortcut .title{
    margin:20px;
    float:left;
}
.dashboard_shortcut .title span{
    font-size:24px;
}
.dashboard_shortcut .title i{
    margin-right:10px;
}
.dashboard_shortcut div.label{
    font-size:28px;
    height:80px;
    vertical-align:middle;
    padding-top:25px;
    min-width:80px;
    border-radius: 3px;
}

.tramites_shortcut_extra{
    background-color:#dedede;

/*    -webkit-box-shadow: 1px 1px 5px 1px rgba(111,111,111,.5);*/
/*box-shadow: 1px 1px 5px 1px rgba(111,111,111,.5);*/
}