
/* gif */

.div_carga {
    position:absolute ;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.8);
    display: none;
    z-index: 9999;
}

.cargador {
    position:fixed;
    top:50%;
    left: 50%;
    height: 100px;
    width: 100px;
    margin-top: -50px;
    margin-left: -50px;
}

.modal {
    background: rgba(0,0,0,0.8);
}

/* home.php */

table img:hover{
transform: scale(1.5);
}



/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    -moz-osx-font-smoothing: grayscale; 
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none  !important;
    color: #fff  !important;
}
.inline {
    display: inline;
}
.relative {
    position: relative;
}
.center {
    text-align: left;
}
.active, nav li a:hover {
    color: #9C038D !important;
}
 .btn-hover:hover, #carouselExampleControls a:hover, .formulario button:hover {
    color: #fff !important;
    background: linear-gradient(45deg,#42023C, #9C038D) !important;
    transition: .3s;
    cursor: pointer;
}
.titulo {
    background: linear-gradient(90deg, #06192E, #172770);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Saira', sans-serif;
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
}
.titulo--chiquito {
    color: #041C33;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 32px;
    font-weight: 900;
    display: inline-block;
    margin: 0;
}
.titulo--chiquito-modal {
    color: #041C33;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    font-weight: 900;
    display: inline-block;
    margin: 0;
}
/* HOMEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE */

nav {
    width: 100%;
    background: linear-gradient(90deg, #06192E, #172770);
    height: 110px;
    display: flex!important;
    align-items: center;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

nav img {
    width: 160px;
}

.contenedor-nav {
    display: flex!important;
    flex-direction: row!important;
    flex-wrap: nowrap!important;
    justify-content: space-between!important;
    align-items: center!important;

}
nav ul  {
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-top: 20px;
}
ul.show {
    top: 64px;
    left: 0;
    z-index: 9999;
}
nav ul li {
    display: inline;
    margin-right: 70px;
}

nav ul li:last-child {
    margin: 0;    
}

.icon-burger {
    background: url('https://followme.com.ar/img/menuBurgerBlanco.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    display: none;
    margin-right: 25px;
    cursor: pointer;
}

/* CAROUSEL */
.carousel-inner p {
    font-size: 100px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    
}

.carousel-inner .carousel-text {
    position: absolute;
  
    left: 15%;
    top: 30%;
    line-height: 80px;
}
header .carousel-inner img {
    *object-fit: cover;
    width: 100vw;
    overflow: hidden;
}


.carousel-inner a {
    background: #1E2D8C;
    padding: 5px 20px;
    font-size: 20px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.carousel-index {
    margin-top: 110px;
}
.carousel .carousel-control-prev-icon, #section__productos .carousel .carousel-control-prev-icon, #section__look .carousel .carousel-control-prev-icon {
    background-image: url('https://followme.com.ar/img/flecha-izquierda.svg');
}

.carousel .carousel-control-next-icon, #section__productos .carousel .carousel-control-next-icon, #section__look .carousel .carousel-control-next-icon {
    background-image: url('https://followme.com.ar/img/flecha-derecha.svg');
}

.carousel-control-next-icon, .carousel-control-prev-icon, #section__productos .carousel-control-next-icon, #section__productos .carousel-control-prev-icon, #section__look .carousel-control-next-icon, #section__look .carousel-control-prev-icon {
    /* Use to adjust size of icons */
    width: 2rem ;
    height: 2rem;
}
.carousel-control-next, .carousel-control-prev, #section__productos .carousel-control-next, #section__productos .carousel-control-prev {
    opacity: 1;
}

#section__detalles {
    width: 100%;
    min-height: 400px;
    margin-top: 115px;
}

.section__detalles-container-perso {
    padding-top: 120px;
}
/** BORDESSSSS */
#section__detalles .borde-externo {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #06192E, #172770);
    z-index: -999;
}
#section__detalles .borde-externo::before {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    height: 200px;
    width: 2px;
    background: linear-gradient(90deg, #06192E, #172770);
}
#section__detalles .borde-externo::after {
    content: "";
    position: absolute;
    left: 60%;
    top: 200px;
    height: 2px;
    width: 40.2%;
    background: linear-gradient(90deg, #06192E, #172770);
}
#section__detalles .borde-interno {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 370px;
    background: linear-gradient(90deg, #06192E, #172770);
}

#section__detalles .borde-interno::after {
    content: "";
    position: absolute;
    left: 0;
    top: 370px;
    width: 560px;
    height: 2px;
    background: linear-gradient(90deg, #06192E, #172770);
}

/* FIN BORDESS */
#section__detalles .description-detalle {
    margin-top: 10px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #172770;
    text-align: center;
}

.section__detalles--fabajo {
    width: 43px;
}

#section__productos-y-inspirate {
    margin-top: 110px;
    width: 100%;
    min-height: auto;
    text-align: center;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
}
#section__productos-y-inspirate .huella-y-cruz-sola__home {
    position: absolute;
    top: -30px;
    left:19%;
    z-index: -1;
    
}
#section__productos-y-inspirate .img-sola {
    height: 416px;
  
}
.container-producto-inspirate {
    
    position: relative;
    text-align: center;
    
}
#section__productos-y-inspirate .botones {
    display: flex;
    justify-content: center;
    font-family: 'Saira Extra Condensed', sans-serif;
}

#section__productos-y-inspirate span {
    display: inline-block;
    background: linear-gradient(90deg, #06192E, #172770);
    width: 220px;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
}
#section__productos-y-inspirate a {
    display: inline-flex;
    width: 80px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg,#081B37, #1A2A7D);
    font-size: 19px;
}

#section__universo-followme {
    margin-top: 115px;
    width: 100%;
    
}
#section__universo-followme .video {
    *background: linear-gradient(90deg,#081B37, #1A2A7D);
    
    margin-top: 50px;
    position: relative;
}
.video video {
   width: 100%;
   height: 100%;
}
.section__universo-followme--titulo {
    text-align: center;
}
.section__universo-followme--titulo .cruz-titulo {
    content: url('https://followme.com.ar/img/cruz.svg');
    display:inline-block;
    width: 35px;
    height:35px;
    margin-right: 40px;
    position: static;
}
#section__bordados-y-apliques {
    width: 100%;
    min-height: 550px;
    margin-top: 115px;
}
.container-img-bordados-y-apliques {
    height: 130px;
    overflow: hidden;
    position: relative;
}
.section__bordados-y-apliques-img {
    transition: transform 1s ease;
    position: relative;
    height: 130px;
}

.section__bordados-y-apliques-img:hover{
    transform: scale(1.5);
    filter: brightness(60%);
    transition: 1s;
}

#section__bordados-y-apliques .btn-bordados-y-apliques {
    display: inline-flex;
    width: 140px;
    height: 35px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg,#081B37, #1A2A7D);
    font-size: 16px;
    margin-left: 190px;
    margin-top: 83px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 19px;
}

#section__bordados-y-apliques .description-detalle {
    margin-top: 3px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #172770;
    text-align: center;   
}
.section__bordados-y-apliques--borde {
    position: absolute;
    width: 100%;
    height: 360px;
    z-index: -999;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(90deg, #06192E, #172770) 1; 

}

#section__bordados-y-apliques .margen-arriba {
    margin-top: -60px;
}
#section__followme-point {
    width: 100%;
    min-height: 350px;
  
}
.followme-point--home {
    background: #e6e6e6;
    width: 100%;
    min-height: 350px;
    padding: 80px 0px;
}
#section__followme-point img {
    width: 95%;
}
#section__followme-point .imagen {
    padding: 0;
}
#section__followme-point .points {
    margin-top: 50px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #041C33;
    line-height: 32px;
   
}
.section__followme-point--titulo {
    margin-top: 70px;
    width: 290px;
}
.section__followme-point--titulo2 {
    margin-top: 40px;
}

.points span:nth-child(3)::before, .points span:nth-child(4)::before, .points span:nth-child(5)::before, .points span:nth-child(7)::before, .points span:nth-child(8)::before, .points span:nth-child(9)::before, .points span:nth-child(11)::before, .points span:nth-child(12)::before, .points span:nth-child(13)::before, .points span:nth-child(15)::before, .points span:nth-child(18)::before, .points span:nth-child(19)::before, .points span:nth-child(20)::before, .points span:nth-child(22)::before, .points span:nth-child(24)::before, .points span:nth-child(23)::before, .points span:nth-child(26)::before, .points span:nth-child(27)::before, .points span:nth-child(30)::before, .points span:nth-child(31)::before, .points span:nth-child(34)::before   {
    content: ' · ';
   
}

.parrafo__digital-point {
    width: 342px;
    font-weight: 400;
    font-size: 28px;
    color: #041C33;
    line-height: 32px;
    margin-top: 50px;
    
    font-family: 'Saira Extra Condensed', sans-serif;
}
.parrafo2__digital-point {
    
    margin-top: 75px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 28px;
    font-weight: 600;
    background: linear-gradient(90deg, #052130,  #00C97C);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
         
}

.section__detalles--titulo  {
    margin-left: 130px;
}
.section__bordados-y-apliques--titulo {
    margin-top: 100px;
    margin-left: 190px;
}
.cruz-titulo  {
    content: url('https://followme.com.ar/img/cruz.svg');
    display:inline-block;
    width: 35px;
    height:35px;
    position: absolute;
    left: 60px;
    top: 122px;
    animation: zoomIn;
    animation-duration: 1s;
}
/*.cruz-titulo:hover {
    animation: flipInY;  referring directly to the animation's @keyframe declaration 
    animation-duration: 2s; /* don't forget to set a duration! 
    animation-delay: 0.25s;
   
 
}*/
.section__bordados-y-apliques--titulo .cruz-titulo {
    content: url('https://followme.com.ar/img/cruz.svg');
    display:inline-block;
    width: 35px;
    height:35px;
    position: absolute;
    left: 130px;
    top: 100px;
}
.section__followme-point--titulo .cruz-titulo {
    content: url('https://followme.com.ar/img/cruz.svg');
    display:inline-block;
    width: 35px;
    height:35px;
    position: absolute;
    left: -70px;
    top: 5px;
}
.section__followme-point--titulo2::before {
    content: url('https://followme.com.ar/img/auricular-icon.png');
    display:block;
    width: 20px;
    height:20px;
    position: absolute;
    left: -70px;
    top: 0px;
}

#section__contacto {
    margin-top: 230px;
    margin-bottom: 60px;
    width: 100%;
    min-height: 550px;
   
}
.row--contacto {
    margin-top: 30px;
}

#section__contacto .borde-externo {
    border-bottom: 2px solid #172770;
    width: 100%;
    height: 900px;

}
#section__contacto .borde-externo-debajo {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background:#172770;
    z-index: -999;
}

#section__contacto .borde-externo::before {
    content: "";
    position: absolute;
    left: 100%;
    top: 17%;
    width: 2px;
    height: 83.2%;
    background:#172770;
   z-index: -999;
}
#section__contacto .borde-externo::after {
    content: "";
    position: absolute;
    left: 48.2%;
    top: 17%;
    width: 52%;
    height: 2px;
    background:#172770;
}

#section__contacto .borde-izq-interno {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
    height: 2px;
    background: linear-gradient(90deg, #06192E, #172770);
    z-index: -999;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.section__contacto--titulo {
    color: #041C33;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 35px;
    font-weight: 900;
    display: inline-block;
}

.header__contacto {
    margin-top:  -17px;
}

.header__contacto img {
    width: 30px;
    margin-right: 20px;
}
.header__contacto a {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #041C33;
}
.titulo--queremos-conocerte {
    background: linear-gradient(to right, #06192c, #13264e, #372e6c, #672f83, #9d228d);
    width: 340px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 42px;
    margin-top: 93px;
}

.formulario {
    text-align: center;
    color: #fff;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 600;
    font-size:20px;
}

.formulario label {
    background: #1E2D8C;
    width: 100%;
    text-align: left;
    padding: 10px 10px 0px 10px;
}
.formulario input, textarea {
    width: 100%;
    border: 0;
    background: #1E2D8C;
    margin-bottom: 25px;
    padding: 5px 5px 5px 10px;
    color: #fff;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 400;
    font-size:20px;
    outline: none;
    margin-top: -2px;
}

.formulario button[type=submit] {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #071b33, #002148, #00265d, #002a72, #1c2c86);
    border: 0;
    color: #fff;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 900;
    font-size:26px;
}

.formulario #adj_archivo {
    display: none;
    
}

.formulario .icon_adj {
    width: 7px;
    position: absolute;
    right: 0;
    top: 14px;
    margin-right: 20px;
}
.label--adj_archivo {
    position: relative;
    padding: 10px 10px 10px 10px !important;
    cursor: pointer;
}

.formulario #info {
    position: absolute;
    top: 12px;
    left: 140px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 400;
    font-size:18px;
}
#section__seguinos {
    width: 100%;
    margin-top: 115px;
    margin-bottom: 30px;
}

.section__seguinos--contenedor-flex {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.section__seguinos--iconredes {
    margin-right: 35px;
    display: inline-block;
}

.section__seguinos--iconredes:last-child {
    margin-right: 0;
}
#section__seguinos #icon-face, #compartirFace {
    background: url('https://followme.com.ar/img/icon-face.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
#section__seguinos #icon-face:hover, #compartirFace:hover {
    background: url('https://followme.com.ar/img/icon-face-hover.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
#section__seguinos #icon-insta, #compartirInsta {
    background: url('https://followme.com.ar/img/icon-insta.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
#section__seguinos #icon-insta:hover, #compartirInsta:hover {
    background: url('https://followme.com.ar/img/icon-insta-hover.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
#section__seguinos #icon-pinte, #compartirPinte {
    background: url('https://followme.com.ar/img/icon-pinte.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
#section__seguinos #icon-pinte:hover, #compartirPinte:hover {
    background: url('https://followme.com.ar/img/icon-pinte-hover.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
#section__seguinos #icon-tiktok, #compartirTiktok {
    background: url('https://followme.com.ar/img/icon-tiktok.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
#section__seguinos #icon-tiktok:hover, #compartirTiktok:hover {
    background: url('https://followme.com.ar/img/icon-tiktok-hover.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
.icon-whatsapp {
    display:flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top: 71vh;
    right:20px;
    width: 125px;
    height: 230px;
    z-index: 99;
}
.icon-whatsapp .flechas-wp {
    width: 35px;
    display: block;
    margin: 0px;
    position: relative;

    -webkit-animation-name: rebote; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
    animation-name: rebote;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-out;
}

/* Standard syntax */
@keyframes rebote {
    0%   {left:20px; top:0px;}
    25%  {left:20px; top:0px;}
    50%  {left:20px; top:-100px;}
    75%  {left:20px; top:-100px;}
    100% {left:20px; top:0px;}
  }


.icon-whatsapp .logo-wp{
    height:55px;
    position: absolute;
    bottom: 0;
    right: 15px;
}
footer {
    position: absolute;
    width: 100%;
    height: 60px;
    background: #041C33;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-top: 90px;
}
footer p {
    margin-bottom: 0;
}

/*@media (min-width: 1300px) {
    #section__contacto {
       
        margin-top: 80px;
        margin-bottom: 60px;
        width: 100%;
        height: 900px;
        background: url('https://followme.com.ar/img/fondoContacto-home.png');
        background-position-y: 48vh;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #section__contacto .borde-externo {
        border-bottom: 2px solid #172770;
        width: 100%;
        height: 1000px;
    }
}*/
.bg-contacto {
    position: absolute;
    width: 100%;
    height: 550px;
    top: 300px;
    object-fit: cover;
}
@media (max-width: 576px) { 
    .formulario input, textarea, .formulario label, .formulario button[type=submit] {
     
        background: linear-gradient(to right, #06192c, #13264e, #372e6c, #672f83, #9d228d);
      
    }
    #section__productos-y-inspirate .huella-y-cruz-sola__home {
        position: absolute;
        top: -20px;
        left: 0px;
        z-index: -1;
        max-width: 100%;
    }
    .mt-abajo-movil {
        margin-bottom: 50px;
    }
      .container-imagen-producto-animada {
        position: relative;
        overflow: hidden;
        margin-top: 30px;
        width: 100%;
        max-height: 438px;
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
    .imagen-producto-animada {
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        margin-top: 15px;
        -webkit-transform: translate3d(0,0,0) !important;
        transform: translate3d(0,0,0) !important;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }
 }
 .estas-consultando-por {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #041C33;
    text-align: center;
 }

@media (max-width: 910px) {
    .carousel-control-next-icon, .carousel-control-prev-icon, #section__productos .carousel-control-next-icon, #section__productos .carousel-control-prev-icon, #section__look .carousel-control-next-icon, #section__look .carousel-control-prev-icon {
        width: 25px;
        height: 25px;
    }
    #section__productos-y-inspirate {
        margin-top: 30px;
        width: 100%;
        min-height: auto;
        text-align: center;
        min-height: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    #section__campera label, #section__tela label, #section__look label {
       
        font-size: 12px !important;
        
    }
    #section__header-experiencia .container-carousel {
        margin: 0 auto;
    }
   .filtrar-por {
       text-align: left !important;
       margin-top: 10px;
   }
    .cruz-titulo {
        display: none !important;
    }

    .followme-point--home {
        background: #e6e6e6;
        width: 100%;
        min-height: 350px;
        padding: 20px 0px;
    }

    
    .icon-whatsapp {
        display:flex;
        align-items: center;
        justify-content: center;
        position:fixed;
        top: 71vh;
        width: 80px;
        height: 230px;
        z-index:80!important;
    }
    .icon-whatsapp .logo-wp {
        height: 55px;
        position: absolute;
        bottom: 0;
        right: -4px;
    }
    #section__universo-followme .video {
        *background: linear-gradient(90deg,#081B37, #1A2A7D);
       
        margin-top: 0px;
        position: relative;
    }
   
    #section__universo-followme {
        margin-top: 40px;
        width: 100%;
        
    }
    .carousel-index {
        margin-top: 85px;
    }
    #section__productos-y-inspirate img {
        height: 400px;
    }
    .parrafo2__digital-point {
    
        margin-top: 75px;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 28px;
        font-weight: 600;
        background: linear-gradient(90deg, #052130,  #00C97C);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-align: center;
    }
    #section__followme-point .points {
        margin-top: 0px;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-weight: 400;
        font-size: 28px;
        color: #041C33;
        line-height: 35px;
        text-align: center;
    }
    .section__universo-followme--titulo::before {
        display: none;
    }
    .section__detalles--titulo {
        margin-left: 0px;
    }
    .section__detalles--titulo::before {
        display: none !important;
    }
    .bg-contacto {
        display: none;
    }
    /** MENU RESPONSIVE */
    nav {
        width: 100%;
        background: linear-gradient(90deg, #06192E, #172770);
        height: 85px;
        display: flex!important;
        align-items: center;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
    nav img {
        width: 120px;
    }
    nav ul {
        position: fixed;
        top: 87px;
        left: 0;
        width: 100%;
        height: 320px;
        background: linear-gradient(90deg, #06192E, #172770);
        top: -100vh;
        text-align: left;
        transition: all .4s;
        flex-direction: column;
    }
    nav ul li {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .icon-burger {
        display: inline-flex;
    }
    
    /** FIN MENU RESPONSIVE */


    .titulo {
        background: linear-gradient(90deg, #06192E, #172770);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-family: 'Saira', sans-serif;
        font-size: 21px;
        font-weight: 900;
        line-height: 50px;
        text-align: center;
        *padding: 0px 10px 0px 10px;
    }
    .carousel-inner p {
        font-size: 25px;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-weight: 700;
        color: #fff;
        letter-spacing: 1px;
        
    }
    .carousel-inner .carousel-text {
        
        line-height: 17px;
    }
    .carousel-inner a {
        background: #1E2D8C;
        padding: 3px 20px;
        font-size: 12px;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-weight: 700;
    }
    #section__detalles {
        width: 100%;
        min-height: 250px;
        margin-top: 30px;
    }
    /** BORDESSSSS */
    #section__detalles .borde-externo, #section__detalles .borde-externo::before, #section__detalles .borde-externo::after,  #section__detalles .borde-interno, #section__detalles .borde-interno::after  {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        z-index: -999;
    }
    #section__bordados-y-apliques {
        width: 100%;
        min-height: 650px;
        margin-top: 0px;
    }
    
    .section__bordados-y-apliques--titulo {
            text-align: center;
            margin-top: 40px;
            margin-left: 0px;
            line-height: 30px;
    }
    .section__bordados-y-apliques--borde {
        border: none;
        height: 0;
    }
    
    #section__bordados-y-apliques .boton-vertodos {
        display: flex;
        width: 140px;
        height: 35px;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg,#081B37, #1A2A7D);
        font-size: 16px;
        position: absolute;
        top: 590px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 0px;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-weight: 700;
        font-size: 19px;
    }
   
    #section__contacto {
        margin-top: 130px;
        margin-bottom: 60px;
        width: 100%;
        height: 1100px;
        background: none;
    }
     
    
    #section__contacto .borde-externo {
        border: none;
    }
    
    #section__contacto .borde-externo::before, #section__contacto .borde-externo::after, #section__contacto .borde-izq-interno {
       width: 0;
       height: 0;  
    }
    
    .section__detalles-container-perso {
        padding-top: 0px;
    } 
    .section__detalles--titulo::before,.section__bordados-y-apliques--titulo::before, .section__bordados-y-apliques--titulo::before  {
        display: none;
        
    }
      
     
    #section__detalles .description-detalle {
        margin-top: 10px;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #172770;
        text-align: center;
    }
    #section__bordados-y-apliques .description-detalle {
        margin-top: 3px;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #172770;
        text-align: center;   
    }
    .section__followme-point--titulo {
        margin-top: 70px;
        width: 100%
    }
    .section__followme-point--titulo::before,  .section__followme-point--titulo2::before {
       display: none;
    }
    
    .section__followme-point--titulo,.section__followme-point--titulo2 {
       margin: 20px 0 !important;
       text-align: center;

    }
     
    .header__contacto {
        margin-top: 0;
        text-align: center;
    }
    .center {
        text-align: center;
    }
    .parrafo__digital-point {
        text-align: center;
        width: 320px;
        font-weight: 400;
        font-size: 28px;
        color: #041C33;
        line-height: 32px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Saira Extra Condensed', sans-serif;
    }
    .titulo--queremos-conocerte {
        background: linear-gradient(to right, #06192c, #13264e, #372e6c, #672f83, #9d228d);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 42px;
        width: 100%;
        margin-top: 40px;
    }
    .section__seguinos--contenedor-flex {
        flex-direction: column;
    }
    #section__seguinos {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .flechas-seguinos-home {
        margin-bottom: 15px;
        margin-top: 15px;
        display: none;
    }
    .section__seguinos--iconredes {
        width: 45px;
        margin-right: 25px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .icon-huella {
        margin-top: 15px;
    }
    .img-mapa {
        display: none;
    }
    #section__bordados-y-apliques .margen-arriba {
        margin-top: 10px;
    }

    .formulario .icon_adj {
        width: 7px;
        margin-left: 160px;
        margin-bottom: 7px;
    }
    .fila-productos {
        margin-top: 0px !important;
    }
}

/* FIN HOMEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE */


/** PRODUCTOSSSSSSSSSSSSSS */

    .fila-productos {
        margin-top: 40px;
    }
    .header__productos-marginsup {
        margin-top: 230px;
        margin-bottom: 50px;
    }
    .header__productos {
        width: 100%;
        height: 380px;
        border-left: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-top: none;
        border-right: none;
        border-image: linear-gradient(90deg, #06192E, #172770) 1; 
        text-align: center;
        position: relative;
     
    }
    .borde-degradado-arriba {
        border-image: linear-gradient(90deg, #06192E, #172770) 1; 
        border-top: 2px solid transparent;
        width: 100%;
        display: block;
        margin-bottom: 40px;
    }
    .header__productos::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 65%;
        height: 2px;
        background: linear-gradient(90deg, #06192E, #172770);
        z-index: -999;
    }
    .header__productos::after {
        content: "";
        position: absolute;
        left: 100%;
        top: -10%;
        width: 2px;
        height: 110.5%;
        background: linear-gradient(90deg, #06192E, #172770);
        z-index: -999;
    }
    .header__productos .borde-der {
        content: "";
        position: absolute;
        left: 80%;
        top: -10%;
        width: 20.2%;
        height: 2px;
        background: linear-gradient(90deg, #06192E, #172770);
        z-index: -999;
    }
   
    .header__productos .margen-recuadro {
        margin-top: 160px;
    }
   
    .slider--producto {
        width: 100%;
        
    }
    #section__productos .carousel .carousel-control-prev-icon, #section__camperas .carousel .carousel-control-prev-icon, #section__campera .carousel .carousel-control-prev-icon, #section__look .carousel-control-prev-icon {
        background-image: url('https://followme.com.ar/img/productos-page/flecha-izq-azul.png');
    }
        
    #section__productos .carousel .carousel-control-next-icon, #section__camperas .carousel .carousel-control-next-icon, #section__campera .carousel .carousel-control-next-icon, #section__look .carousel-control-next-icon  {
        background-image: url('https://followme.com.ar/img/productos-page/flecha-der-azul.png');
    }
    
    #section__productos .carousel-control-next-icon, #section__productos .carousel-control-prev-icon, #section__camperas .carousel-control-next-icon, #section__camperas .carousel-control-prev-icon, #section__campera .carousel-control-prev-icon, #section__campera .carousel-control-next-icon   {
        /* Use to adjust size of icons */
        width: 3rem;
        height: 3rem;
    }
    #section__productos .carousel-control-next,#section__productos .carousel-control-prev {
        opacity: 1;
    }
    
    #section__productos .footer__card-producto, #section__inspirate .footer__card-producto, #section__telas .footer__card-producto {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .cruz-violeta {
        width: 25px;
    }
    #section__productos .btn-vermas, #section__inspirate .btn-vermas, #section__telas .btn-vermas {
        display: inline-block;
        width: 90px;
        padding: 15px;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg,#081B37, #1A2A7D);
        font-size: 20px;
        font-family: 'Saira Extra Condensed', sans-serif;
        text-align: center;
    }
   
    .header__productos .img-productos {
        margin-top: -58px;
        
        height: 100%;
        
    }
    @media (max-width: 768px) {
        #section__productos {
            width: 100%;
            min-height: 350px;
            margin-top: 185px;
            margin-bottom: 20px;
           
        }
        .header__productos .img-productos {
            margin-top: -40px;
            height: auto;
            border-bottom: 2px solid #051B33;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
        }
        .header__productos-marginsup {
            margin-top: 150px;
            margin-bottom: 0px;
        }
        .header__productos {
            width: 100%;
            height: 380px;
            border: none;
            border-image: linear-gradient(90deg, #06192E, #172770) 1; 
            text-align: center;
            position: relative;
        }
        .header__productos::before, .header__productos::after, .header__productos .borde-der {
            width: 0;
            height: 0;
            display: none;
        }
        .header__productos .img-productos, .header__productos .margen-recuadro {
            margin-top: 0px;
        }
    }
/* FIN PRODUCTOS */


/* CAMPERASSSSSSSSSSSSSSSS */

#section__camperas, #section__experienciafm {
    width: 100%;
    margin-top: 260px;
    margin-bottom: 70px;
    min-height: 400px;
}
.titulo--categoria_header {
    display: inline;
    color: #051B33;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 36px;
    font-weight: 900;
}

.label--filtrarpor {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 24px;
    color: #051B33;
    font-weight: 500;
    display: inline;
    margin-right: 15px;
}
.right {
    text-align: right;
}
.container-filtrarpor {
    display: inline;
}
.select-filtrarpor {
   width: 230px;
   border: none;
   height: 40px;
   background: #98238B;
   background-image: url('https://followme.com.ar/img/productos-page/flecha_select.PNG'); 
    background-repeat: no-repeat;
    background-position: right center;
   outline: none;
   color: #fff;
   font-family: 'Saira Extra Condensed', sans-serif;
   font-weight: 700;
   font-size: 18px;
   padding-left:75px;
   -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    overflow: hidden;
}
.flechasabajo3 {
    width: 28px;
    margin-top: -15px
}
#section__camperas .slider--producto, #section__telas .slider--producto, #section__experienciafm .slider--producto {
    border-top: 2px solid transparent;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-image: linear-gradient(90deg, #06192E, #172770) 1; 
    padding-top: 25px;
}
#section__camperas strong, #section__experienciafm strong {
    font-weight: 900;
}
#section__camperas .title--producto-violet, #section__experienciafm .title--producto-violet {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    color: #98238B;
    font-weight: 500;
    margin-top: 20px;
    display: inline-block;
    text-transform: uppercase;
}
#section__camperas .title--producto-blue, #section__experienciafm .title--producto-blue {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    color: #1E258C;
    font-weight: 500;
    margin-top: 20px;
    display: inline-block;
    text-transform: uppercase;
}
#section__camperas .title--producto-violet:hover {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    color: #1E258C;
    font-weight: 500;
    margin-top: 20px;
    display: inline-block;
}
#section__camperas .title--producto-blue:hover, #section__experienciafm .title--producto-blue:hover {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    color: #98238B;
    font-weight: 500;
    margin-top: 20px;
    display: inline-block;
}
.icon-nofavorito {
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 999;
    background: url('https://followme.com.ar/img/productos-page/favorito_nocheck.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.icon-favorito {
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 999;
    background: url('https://followme.com.ar/img/productos-page/favorito_check.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transform: scale(1); -webkit-transform: scale(1);
    transition: .5s;
}
.icon-favorito:hover, .icon-nofavorito:hover {
    width: 40px;
    height: 40px;
    transform: scale(1.3); -webkit-transform: scale(1.3);
    transition: .5s;
}

.campera--producto {
    margin-bottom: 50px;
}
.img2-cierre {
    margin-top:117px;
}
@media (max-width: 910px) {
    #section__experienciafm .slider--producto {
        border-top: none;
        border-image: none; 
        padding-top: 25px;
    }
    #section__telas--header {
        margin-top: 150px !important;
        
    }
.img2-cierre {
    margin-top:40px;
}
    #section__experienciafm .titulo--categoria_header {
        text-align: left;
    }
    #section__experienciafm .titulo--producto {
        text-align: left;
        display: block;
    }
    #section__look .borde-externo, #section__look .borde-externo::after, #section__look .borde-externo::before, #section__look .borde-interno, #section__look .borde-interno::before, #section__look .borde-interno::after {
        width: 0;
        height: 0;
        display: none;
    }
    .img__perfilyatras, .borde-degradado-arriba, .carousel--chico .slick-slide {
        display: none ;
    }
    .carousel--chico {
        display: none !important;
    }
    #section__camperas, #section__experienciafm {
        width: 100%;
        margin-top: 140px;
        min-height: 400px;
    }
    #section__camperas .right, #section__experienciafm .right {
        margin-top: 15px;
        text-align: center;
    }
    .flechasabajo3, .cruz-desaparece, .desaparece-movil {
        display: none !important;
    }
    .aparece-movil {
        display: flex !important;
        position: static !important;
    }
    .titulo--categoria_header {
        margin-left: 0px;
        display: inline;
        color: #051B33;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 36px;
        font-weight: 900;
    }
    
}
.desaparece-movil {
    display: inline-block;
}

/* FIN CAMPERASSS */

/* INTERNA CAMPERAS */

.slider__multiple {
    margin-left: 80px;
}

.slider__multiple .p__blue {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 21px;
    color: #1E258C;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}
.slider__multiple .p__violet {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 21px;
    color: #98238B;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}   
#section__camperas--header  {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 70px;
    min-height: 400px;
}
#section__campera, #section__look {
    width: 100%;
    min-height: 600px;
    margin-bottom: 60px;
    margin-top: 200px;
}
 .titulo--producto {
    display: inline;
    color: #051B33;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

#section__campera label, #section__tela label, #section__look label{
    font-family: 'Saira';
    font-size: 15px;
    font-weight: 300;
    color: #000;
}

#section__campera .favorito, #section__tela .favorito, #section__look .favorito {
    margin-left: 200px;
}

#section__campera .btn--producto_primero, #section__tela .btn--producto_primero, #section__look .btn--producto_primero {
    margin-top: 35px;
}
#section__campera .borde-externo {
    border-left: 2px solid transparent;
  
    border-image: linear-gradient(90deg, #06192E, #172770) 1; 
    width: 100%;
    height: 70%;
    top: 23%;
    position: absolute;
    z-index:-999999 !important;
}

#section__campera .borde-izq {
    content: "";
    position: absolute;
    left: 0;
    top: 23%;
    height: 2px;
    width: 93%;
    background: linear-gradient(90deg, #06192E, #172770);
    z-index:-999999;
}

#section__campera .borde-externo::before {
    content: "";
    position: absolute;
    left: 88%;
    top: 70%;
    height: 30.5%;
    width: 2px;
    background: linear-gradient(90deg, #06192E, #172770);
    z-index:-999999;
}

#section__campera .borde-externo::after {
    content: "";
    position: absolute;
    left: -1.2px;
    top: 100%;
    height: 2px;
    width: 88.2%;
    background: linear-gradient(90deg, #06192E, #172770);
    z-index: -99999;
}

#section__campera .btn--producto, #section__tela .btn--producto, #section__look .btn--producto {
    height: 35px;
    width: 100%;
    
    display: block !important;
    position: relative;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    color: #051B33;
    border: 2px solid #051B33;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    background-image: url('https://followme.com.ar/img/productos-page/btn--producto-campera.svg'); 
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: right center;

}
.btn--producto span {
    width: 88%;
    display: block;
}
#section__campera .collapsing, #section__campera .collapse, #section__campera .collapse.show, #section__look .collapsing, #section__look .collapse, #section__look .collapse.show {
    position: absolute;
    max-width: 261px;
    left: 50%;
    margin-left: -130.5px;
}

#section__campera .btn--producto-consultar, #section__tela .btn--producto-consultar, #section__look  .btn--producto-consultar, #compartir .btn--producto-consultar {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 600;
    font-size: 22px;
    background: linear-gradient(90deg, #06192E, #172770);
}
.control-c  {
    width: 40px;
    height: 40px;
}

#section__productos-recomendados {
    width: 100%;
    min-height: 450px;
    margin-top: 130px;
}
#section__look .slick-slide {
    height:auto;
    margin-left: 13px;
    margin-right: 13px;
    text-align: center;
 }
  /* the parent */
  #section__look .slick-list {
    margin-left: -13px;
    width: calc(100% + 26px); /* add double the px size of slide space */
  }

#section__productos-recomendados .slick-prev, #section__productos-recomendados .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    display: block;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
#section__header-experiencia .slick-prev, #section__header-experiencia .slick-next {
    top: 55%;
}
.inspirate__productos-recomendados .slick-prev, .inspirate__productos-recomendados .slick-next{
    top: 35% !important;
  
}
.img-slide__productos {
    width: 85%;
    margin: 0 auto;
}
#section__productos-recomendados p {
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #051B33;
    font-size: 24px;
    font-weight: 900; 
}
.p__collapse-titulo {
    font-family: 'Saira', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #051B33;
    text-align: justify;
    
}
.p__collapse-descripcion {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #051B33;
    text-align: justify;
}
#section__campera .card, #section__look .card {
    
    display: flex;
    flex-direction: column;
    
    word-wrap: break-word;
    background-color: #fff;
   
    border-top: none;
    border-left: 2px solid #051B33;
    border-bottom: 2px solid #051B33;
    border-right: 2px solid #051B33;
    border-radius: 0;
    z-index: 999;
}

#section__tela .card {
    height: 320px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    word-wrap: break-word;
    background-color: #fff;
   
    border-top: none;
    border-left: 2px solid #051B33;
    border-bottom: 2px solid #051B33;
    border-right: 2px solid #051B33;
    border-radius: 0;
    z-index: 999;
}
#section__tela .card .contenido-card {
    overflow: scroll;
}
#section__tela .card .contenido-card::-webkit-scrollbar  {
    width: 15px;
    
}
#section__tela .card .contenido-card::-webkit-scrollbar-track {
    background: none;
  }
/* Handle */
#section__tela .card .contenido-card::-webkit-scrollbar-thumb {
    margin-right: 40px;
    background-image:url('https://followme.com.ar/img/inspirate-page/telas/figura-azul.png');
    background-repeat: no-repeat;
  }
@media (min-width: 1400px) {
    #section__campera .collapsing, #section__campera .collapse, #section__campera .collapse.show, #section__look .collapsing, #section__look .collapse, #section__look .collapse.show {
        position: absolute;
        max-width: 306px;
        left: 50%;
        margin-left: -153px;
    }
    #section__tela .card {
        height: 390px !important;
    }
}
.fav-productos {
    display: block;
    margin-bottom: 10px;
    margin-right: 20px;
}
@media (max-width: 910px) {
    #section__productos-recomendados {
        width: 100%;
        min-height: 395px;
        margin-top: 80px;
    }
    #section__campera .collapsing, #section__campera .collapse,#section__campera .collapse.show, #section__look .collapsing, #section__look .collapse, #section__look .collapse.show {
        position: absolute;
        max-width: 264px;
        left: 50%;
        margin-left: -132px;
    }
    
  
 
    #section__campera .borde-externo, #section__look .borde-externo {
        border: none;
    }
    #section__campera .borde-externo::before, #section__campera .borde-externo::after, #section__campera .borde-izq, #section__look .borde-externo::before, #section__look .borde-externo::after, #section__look .borde-izq {
       width: 0;
       height: 0;
    }
    .flechasabajo3 {
        display: none;
    }
    #section__campera .btn--producto, #section__look .btn--producto {
        width: 264px;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #051B33;
        border: 2px solid #051B33;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-weight: 700;
        font-size: 22px;
        text-align: center;
        background-image: url('https://followme.com.ar/img/productos-page/btn--producto-campera.svg'); 
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    #section__campera .btn--producto-consultar, #section__look .btn--producto-consultar {
        width: 270px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-weight: 600;
        font-size: 22px;
        background: linear-gradient(90deg, #06192E, #172770);
        margin-left: auto;
        margin-right: auto;
    }
    
    .control-c  {
        width: 40px;
        height: 40px;
    }
    #section__campera .favorito {
        margin-left: 0;
    }
    #section__campera .img__perfilyatras {
        margin-bottom: 25px;
       
    }

    
}
#section__campera .img__perfilyatras, #section__look .img__perfilyatras {
    max-width: 100%;
    
    margin: 0 auto !important;
}

/* FIN INTERNA CAMPERAS */

/* INSPIRATE*/
.img__inspirateheader {
    margin-top: -65.5px !important;
    
}

@media (max-width: 910px) {
    #section__contacto .borde-externo-debajo {
        width: 0;
        height: 0;
    }
    #section__inspirate {
        margin-top: 120px;
    }
    .img__inspirateheader {
        margin-top: -40px !important;
    }
}


/* FIN INSPIRATE*/

/* TELAS */
#section__telas--header {
    margin-top: 230px;
    margin-bottom: 50px;
    width: 100%;
    min-height: 60px;
}
#section__telas {
    width: 100%;
    min-height: 600px;
}
.borde-sup {
    border-top: 2px solid transparent;
    border-image: linear-gradient(90deg, #06192E, #172770) 1;  
}
#section__telas .footer__card-producto .cruz-violeta {
    width: 25px;
    margin-left: 0;
    margin-right: 10px;
    display: inline-flex;
    align-items: flex-start;
    align-self: flex-start;
    margin-top: 7px;
}
.p__footer__card-producto{
    font-family: 'Saira Extra Condensed',sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #041C33;
    margin-left: 34px;
    margin-top: -10px;
}

#section__telas .p__footer__card-producto {
    width: 218px;
    line-height: 20px;
   
}
#section__telas .titulo--chiquito {
   
    margin-bottom: 16px;
}

/* INTERNA TELA */
#section__tela {
    width: 100%;
    min-height: 450px;
    z-index: 3;
    margin-top: 200px
}

.borde-externo__tela {
    border-left: 2px solid transparent;
    border-image: linear-gradient(90deg, #06192E, #172770) 1; 
    width:100%;
    height: 970px;
    top: 115px;
    position: absolute;
    
}
@media (min-width: 1500px)  {
    .borde-externo__tela {
        
        height: 1070px !important;
    }
}
.borde-externo__tela::before {
    content: "";
    position: absolute;
    left: 98%;
    top: 92.2%;
    height: 8%;
    width: 2px;
    background: linear-gradient(90deg, #06192E, #172770);
}

.borde-externo__tela::after {
    content: "";
    position: absolute;
    left: -2;
    top: 100%;
    height: 2px;
    width: 98.2%;
    background: linear-gradient(90deg, #06192E, #172770);
}
.borde-externo__tela2 {
   
    border-image: linear-gradient(90deg, #06192E, #172770) 1; 
    width: 100%;
    height: 900px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -999;
}
.borde-externo__tela2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12.5%;
    height: 2px;
    width: 94.2%;
    background: linear-gradient(90deg, #06192E, #172770);
}
.borde-externo__tela2-2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12.5%;
    height: 2px;
    width: 4.2%;
    background: linear-gradient(90deg, #06192E, #172770);
}
/*
.borde-externo__tela2::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    height: 2px;
    width: 96%;
    background: linear-gradient(90deg, #06192E, #172770);
}
*/
#section__compararcolor {
    width: 100%;
    min-height: 570px;
    background: #E7E7E5;
    z-index:1;
    margin-top: -50px;
    margin-bottom: 135px;
}
#section__compararcolor .circulo-blanco {
    width: 190px;
    height: 190px;
    background: #fff;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    border-radius: 50%;
}
#section__compararcolor .circulo-blanco-chico {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 145px;
    z-index: 999;
    background: #fff;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
   
}

#section__compararcolor .img-slide__colores {
    
    margin: 0 auto;
    
}
.img-slide__colores img {
    width: 100px;
}
#section__compararcolor .img-slide__colores:hover {
    cursor: pointer;
}

#section__compararcolor .p__slide__colores {
    font-family: 'Saira Extra Condensed',sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 0 auto;
    color: #051B33;

}


#section__compararcolor .slider__multiple-colores div {
    outline: none;
}
#section__compararcolor .slider__multiple-colores {
    height: 307px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 999;
    
}
#section__compararcolor .slider__multiple-colores::-webkit-scrollbar  {
    width: 15px;
}
#section__compararcolor .slider__multiple-colores::-webkit-scrollbar-track, #section__tela .card::-webkit-scrollbar-track {
    background: none;
  }
/* Handle */
#section__compararcolor .slider__multiple-colores::-webkit-scrollbar-thumb, #section__tela .caard::-webkit-scrollbar-thumb {
    background-image:url('https://followme.com.ar/img/inspirate-page/telas/figura-azul.png');
    background-repeat: no-repeat;
  }
  
  
#section__tela .p__collapse-titulo {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #051B33;
    padding-right: 15px;
}

#section__tela .p__collapse-descripcion {
    font-family: 'Saira', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #051B33;
    text-align: justify;
    line-height: 18px;
    margin-bottom: 9px;
    padding-right: 15px;
}

#section__tela .figura-azul {
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.ul__collapse-descripcion {
    list-style-image: url("https://followme.com.ar/img/vineta-tilde.svg");
    text-align: left !important;
    padding-right: 15px !important;
}

.ul__collapse-descripcion li {
    margin-top: 15px;
}

.li-titulo {
    padding-right: 10px !important;
    list-style-image: url('https://followme.com.ar/img/inspirate-page/telas/icon-lavarropas.svg');
}

.p__collapse-titulo-cuidados {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #99238C;
    margin-left: 4px;
}

@media (max-width: 910px) {
    #section__compararcolor {
        width: 100%;
        min-height: 570px;
        background: #E7E7E5;
        z-index:1;
        margin-top: 40px;
        margin-bottom: 0px;
    }
    .borde-externo__tela, .borde-externo__tela2, .img-fixed  {
        display: none;
    }
    .p__abajocirculos {
        font-family: 'Saira', sans-serif;
        color: #051B33;
        margin-top: 35px;
        font-weight: bold;
        font-size: 18px;
        margin-right: 0px !important;
    }
}

#section__header-experiencia {
    margin-top: 130px;
}

#section__look {
    width: 100%;
    min-height: 450px;
    margin-top: 230px;
}

#section__look .titulo--producto {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    color: #051B33;
    font-weight: 500;
    display: inline-block;
}
#section__look .borde-externo {
    position: absolute;
    top: 25%;
    width: 90%;
    height: 67%;
    z-index: -999;
}
#section__look .borde-externo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 120.5%;
    width: 2px;
    background: linear-gradient(90deg, #06192E, #172770);
}
#section__look .borde-externo::after {
    content: "";
    position: absolute;
    left: 0;
    top: 120.2%;
    height: 2px;
    width: 88%;
    background: linear-gradient(90deg, #06192E, #172770);
}

#section__look .borde-interno {
    position: absolute;
    width: 90%;
    height: 85.5%;
    z-index: -999;
}
@media(min-width: 768px) and (max-width:1500px) {
    #section__look .borde-interno::before {
       content: "" !important;
       position: absolute !important;
       left: 88% !important;
       top: 101% !important;
       height: 22.8% !important;
       width: 2px;
       background: linear-gradient(90deg, #06192E, #172770);
   }
}
#section__look .borde-interno::before {
    content: "";
    position: absolute;
    left: 88%;
    top: 95%;
    height: 28.8%;
    width: 2px;
    background: linear-gradient(90deg, #06192E, #172770);
}
#section__look .borde-interno::after {
    content: "";
    position: absolute;
    left: 0;
    top: 29%;
    height: 2px;
    width: 90%;
    background: linear-gradient(90deg, #06192E, #172770);
}
.p__abajocirculos {
    font-family: 'Saira', sans-serif;
    color: #051B33;
    margin-top: 35px;
    font-weight: bold;
    font-size: 18px;
    margin-right: 50px;
}
.btn-compartir {
    cursor: pointer;
    z-index: 999;
}
.btn-compartir:hover {
    cursor: pointer;
}
.container-imagen-producto-animada {
    position: relative;

	overflow: hidden;
	margin-top: 30px;
    width: 100%;
	max-height: 467px;
	width: 100%;
	text-align: center;
	cursor: pointer;
}
.imagen-producto-animada {
    position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
    margin-top: 15px;
    -webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.imagen-producto-animada:hover {
    opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
    -webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.corazon-absolute {
    top: 33px;
}

.bajada-forros-capucha {
    font-family: 'Saira Extra Condensed';
    font-weight: 500;
    font-size: 25px;
}

.elegircolores-center {
  width: 238px;
  margin: 0 auto; 
  position: relative;
}

.ocultar{
    display: none!important;
}

.fpd-snackbar{
    display: none!important;
}

#tamanioEscudo{
    padding: 70px 0 0 80px;
    font-size: 20px;
}

.text-area-add{
    background-color: #2C42CA!important;
    color: white!important;
}