@import url(//fonts.googleapis.com/css?family=Lato);

body {
	font-family: 'Lato';
}

#main-container {
	margin: 40px auto;
	width: 1200px;
	max-width: 90%;
}

.api-buttons > a {
	margin: 0 5px 0 0 !important;
	text-decoration: none !important;
}

.fpd-tool-text-bold{ display: none !important;}
.fpd-tool-text-underline{ display: none !important;}
.fpd-tool-text-align{ display: none !important;}
.fpd-icon-advanced-editing{ display: none !important;}
.fpd-tool-text-italic{ display: none !important;}
.fpd-tool-reset{ display: none !important;}
.fpd-tool-move-down{ display: none !important;}
.fpd-tool-move-up{ display: none !important;}
.fpd-tool-position{ display: none !important;}
.fpd-tool-transform{ display: none !important;}

.price {
	font-size: 25px !important;
	line-height: 26px !important;
}

.fpd-container>.fpd-main-wrapper {
	background-size: 1%;
}
.oculto{
	display:none;
}
.fpd-actions-wrapper>.fpd-action-btn{
	background-color: #000!important;
}
.fpd-icon-undo,.fpd-icon-redo,.fpd-icon-save,.fpd-icon-file-upload,.fpd-icon-cloud-download,.fpd-icon-print,.fpd-icon-magnet{
	color:#fff!important;
}
.fpd-icon-png:before,.fpd-icon-jpg:before,.fpd-icon-pdf:before,.fpd-icon-svg:before{
	color:#929292!important;
}
.fpd-tool-color{
	background-color: #000!important;
}

/* MOBILE */
@media only screen and (max-width: 768px) {
	 .lower-canvas{
		width: 160%!important;
		height: auto!important;
		left:-7%!important;
		top:2%!important;
	}
	.upper-canvas{
		width: 160%!important;
		height: auto!important;
		left:-7%!important;
		top:2%!important;
	}
	#fpd{
		width: auto!important;
		height: 75vh!important;
	}
	.fpd-product-stage{
		height: 80vh!important;
		top: 50%!important;
	}
	.fpd-main-wrapper{
    min-height: 80vh!important;
	}
	.fpd-view-stage{
		height: 80vh!important;
	}
	.fpd-views-selection{
		margin: 0 0 20px!important;
		display: flex!important;
		justify-content: center!important;
	}
}
/* DESKTOP */
@media only screen and (min-width: 768px) {
	.lower-canvas{
		width: 100%!important;
		height: auto!important;
		display: flex!important;
		align-self: center!important;
		justify-content: center!important;
	}
	.fpd-view-stage{
		/* left:-6%!important; */
	}
	.fpd-views-selection.fpd-clearfix{
		margin-right: 2rem!important;
		margin-bottom: 2rem!important;
	}
	.fpd-views-selection>.fpd-item{
		width: 80px!important;
    height: 80px!important;
	}
/*	.fpd-element-toolbar-smart{
		position: fixed!important;
		top: 55%!important;
		left: 57%!important;
	}*/
}
