.banner {
  background-color: #fff;
  text-align: center;
  padding: 3rem 2rem;
  p {
    font-weight: 300;
    line-height: 1.7;
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 720px;
  }
  &.banner--dark-background {
    color: #fff;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.20);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 2rem;
    h1 {
      color: #fff;
      margin-bottom: .5rem
    }
    h2 {
      color: #fff;
      margin-bottom: .5rem
    }
    h3 {
      color: #fff;
    }
  }
  &.banner--green-background {
    color: #fff;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.20);
    background-color: $green;
    padding: 1rem 2rem;
    h1 {
      color: #fff;
      margin-bottom: .5rem
    }
    h2 {
      color: #fff;
      margin-bottom: .5rem
    }
    h3 {
      color: #fff;
    }
  }
  &.banner--cvo {
    text-align: unset;
    padding: 4rem 2rem;
    overflow: hidden;
    .logo {
      position: relative;
      img {
        height: 150px!important;
        width: auto;
        position: absolute;
        bottom: 0;
        padding-left: 1rem;
      }
    }
    .eventos {
      position: relative;
      z-index: 99;
      &:before {
        content: "";
        background-color: rgba(0, 0, 0, 0.42);
        top: -9999px;
        bottom: -9999px;
        right: -9999px;
        left: 0;
        position: absolute;
        overflow: hidden;
        z-index: -1;
      }
      ._evento {
        position: relative;
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          display: block;
          margin-left: 2rem;
        }
        h5 {
          color: #fff;
          font-weight: 300;
          margin-bottom: 0;
        }
        span {
          font-size: 12px;
          font-weight: 300;
          color: rgba(255, 255, 255, 0.87);
        }
        ._evento_imagen {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          position: absolute;
          overflow: hidden;
          left: -47px;
          img {
            position: absolute;
            top: -9999px;
            left: -9999px;
            right: -9999px;
            bottom: -9999px;
            margin: auto;
            width: auto;
            min-width: 100%;
            min-height: 100%;
            height: 100%;
          }
        }
      }
    }
    @media screen and (max-width: 769px) {
      padding: 2rem;
      .logo img{
        display: block;
        margin: 0 auto 2rem;
        padding: 0;
        position: static;
      }
      .eventos{
        padding-top: 15px;
        &:before{
          left: -9999px;
          top: 0;
        }
        ._evento{
          padding-left: 64px;
          ._evento_imagen{
            left: 10px;
          }
        }
      }
    }
  }
  &.banner--newsletter {
    .input-group {
      max-width: 300px;
      margin: 1.5rem auto;
      .form-control {
        color: $primary-black;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 38px;
        padding: 0.375rem 16px;
        height: 38px;
        font-weight: 300;
        &::placeholder {
          color: $secondary-black;
        }
      }
      .input-group-append {
          position: absolute;
          z-index: 99;
          right: 0;
      }
      .btn.btn-green {
          background-color: $green;
          color: #fff;
          padding: 8px;
          border: none;
          border-radius: 50%;
          width: 38px;
          height: 38px;
      }
    }
  }
}
