//Fonts
$primary-font: 'Open Sans', sans-serif;

//Variables
$red: #cf1b24;
$green: #0b9a47;
$blue: #0078c7;
$yellow: #ffcc01;
$lightgray: #efefef;
$white: #ffffff;
$black: #000000;
$primary-black: rgba(0,0,0,.87);
$secondary-black: rgba(0,0,0,.53);

html{
  body{
    cursor: default;
    font-family: $primary-font;
    position: relative;
    color: $primary-black;
  }
}

section {
  margin-bottom: 2.5rem;
}

img{
  width: 100%;
}

.chevron:after{
  content: "\203A";
  font-size: 1.3em;
  margin-left: 0.4rem;
  vertical-align: -1px;
  width: 9px;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
}

h2 {
  font-size: 1.75rem;
  font-weight: 300;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

h4 {
  font-size: 1.125rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
}

h6 {
  font-size: 0.875rem;
  font-weight: 600;
}

p strong,
p b {
  font-weight: 600;
  color: rgba(0, 0, 0, .70);
}

figcaption {
    font-size: 0.875rem;
    font-weight: 300;
    color: rgba(0, 0, 0, .70);
    text-align: center;
    margin-top: .5rem;
}

section.text{
  p {
    font-weight: 300;
    margin-bottom: 1rem;
  }
  h6 {
    font-weight: 600;
    margin: 2rem 0 1rem;
  }
}

@media screen and (max-width: 769px) {
  .container {
    max-width: 720px;
  }
}

.link {
  color: #2271b9;
}

.btn-group-sm>.btn,
.btn-sm {
  padding: .2rem .8rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.grid li {
  list-style: none;
}

article.card {
  h4 {
    font-size: 1rem;
    margin-bottom: .5rem;
  }
  p {
    font-size: 0.875rem;
  }
}

.informacion-util {
  background-color: #eee;
  padding: 1rem;
}


@media screen and (max-width: 769px) {
  .sm-mt-2 {
    margin-top: 2rem;
  }
}
