.faqs {
  .listado {
    p {
      margin-bottom: 1rem;
      font-weight: 300;
    }
  }
}


.text ul {
  font-weight: 300;
  padding-left: 40px;
  margin-bottom: 1rem;
}

ul.autoridades {
  list-style: none;
  padding-left: .5rem;
  margin-left: 1rem;
  position: relative;
  &:before {
    content: "";
    border-left: 1px solid #ddd;
    bottom: 48px;
    width: 1px;
    position: absolute;
    top: 10px;
    left: -1rem;
    @media screen and (max-width: 769px) {
    }
  }
  &.nacionales:before {
    bottom: 56px!important;
  }
  li {
    margin-bottom: 2rem;
    &:before {
      content: "";
      position: absolute;
      left: -15px;
      width: 15px;
      height: 1px;
      margin-top: 10px;
      background-color: #ddd;
    }
  }
}





.presidencia {
  .presidencia__nombre {
    margin-bottom: .5rem;
    margin-top: 0;
  }
  .presidencia__area {
    font-size: 14px;
    margin-bottom: .5rem;
  }
  .presidencia__bio {
    font-size: 12px;
  }
  .presidencia__image {
      width: 50px;
      height: 50px;
      background-position: center;
      background-size: cover;
      background-color: #999;
      border-radius: 50%;
      margin-bottom: 1rem;
  }
}

.director {
  .director__nombre {
    margin-bottom: .5rem;
    margin-top: 1rem;
  }
  .director__area {
    font-size: 14px;
    margin-bottom: .5rem;
  }
  .director__bio {
    font-size: 12px;
  }
  .director__image {
      width: 50px;
      height: 50px;
      background-position: center;
      background-size: cover;
      background-color: #999;
      border-radius: 50%;
      margin-bottom: 1rem;
  }
}


.gerente {
  .gerente__nombre {
    margin-bottom: .5rem;
    margin-top: 1rem;
  }
  .gerente__area {
    font-size: 14px;
    margin-bottom: .5rem;
  }
}


img[data-action="zoom"] {
    width: auto;
}



h2.block__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h3.block__title {
    font-weight: 300;
    margin-bottom: 1rem;
}

h4.block__title {
    font-weight: 300;
    margin-bottom: 1rem;
}
