$theme-colors:
(
  "becas": $green ,
  "concursos": $red ,
  "prestamos": $blue ,
  "subsidios": $yellow ,
);

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    color: #fff;
    background-color: $value;
    border-color: $value;
    &:hover {
      color: #fff;
      background-color: $value;
      border-color: $value;
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    color: $value;
    background-color: transparent;
    background-image: none;
    border-color: $value;
    &:hover {
      color: #fff;
      background-color: $value;
      border-color: $value;
    }
  }
}
