.slider:not(.slick-initialized) div {
    visibility: hidden;
    display: inline;
}

.card {
  font-size: 14px;
  line-height: 20px;
  transition: all .25s ease-in-out;
  &:hover {
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.07);
  }
  p {
    color: rgba(0,0,0,0.87);
    font-weight: 300;
    margin-bottom: .5rem;
    &.link {
      color: $blue;
      font-size: .8rem;
      font-weight: 400;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  ul {
      padding-left: 1.5rem;
      font-size: 13px;
      font-weight: 300;
      margin-bottom: .5rem;
  }
  .card-body {
    padding: 1rem;
  }
  .card-header {
      padding: .4rem 1rem;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 700;
      line-height: 15px;
      color: #fff;
      margin-bottom: 0;
      background-color: $primary-black;
      border: none;
  }
  .card-image {
    height: 100px;
    width: 100%;
    display: block;
    background-color:#777;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &.--beca.--abierta {
    .card-header {
      background-color: $green;
    }
  }
  &.--concurso.--abierta {
    .card-header {
      background-color: $red;
    }
  }
  &.--subsidio.--abierta{
    .card-header {
      background-color: $yellow;
    }
  }
  &.--prestamo.--abierta {
    .card-header {
      background-color: $blue;
    }
  }
}

.slick-slide {
  height: auto;
  &>div {
    height: 100%;
  }
  .card {
    height: 100%;
  }
}







.slick-prev, .slick-next {
    width: 50px!important;
    height: 100%!important;
    color: transparent;
    background: rgba(255,255,255,0.38)!important;
    z-index: 999;
}

.slick-prev:hover, .slick-next:hover {
    background: rgba(255,255,255,0.87)!important;
}

.slick-next {
    right: 0!important;
}

.slick-prev {
    left: 0!important;
}

.slick-next:before {
    content: "\f105"!important;
    font: normal normal normal 30px/1 FontAwesome!important;
    color: rgba(0,0,0,87)!important;
}

.slick-prev:before {
    content: "\f104"!important;
    font: normal normal normal 30px/1 FontAwesome!important;
    color: rgba(0,0,0,87)!important;
}

.slick-disabled {
    display: none!important;
}


.card-body,
.card-footer {
    .tags span:after {
      content: "|";
      margin: 0 5px;
    }
    .tags span:last-child:after {
      content: "";
    }
    padding: .4rem 1rem;
    background-color: #fff;
    border-top: none;
}




.--video .card-image:hover:before {
    background-color: rgba(0,0,0,0.3);
}

.--video .card-image:before {
    content: "\f04b";
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font: normal normal normal 20px/1 FontAwesome;
    transition: all .2s ease;
}



.--prestamo i.fa {
    color: #0771b8;
}

.--prestamo ul {
    margin-left: 3rem;
    font-weight: 300;
}

.--prestamo .card-footer {
  padding: 1rem 1rem;
  border-top: 1px solid rgba(0,0,0,.125);
  a {
    font-weight: 300;
    width: 100%;
    display: block;
    i {
      float: right;
      line-height: 20px;
    }
  }
}



.novedades {
  .card {
    height: 100%
  }
}

.convocatorias {
  .card {
    height: calc(100% - 2rem);
    margin-bottom: 2rem;
    &:not(.--abierta) .card-image {
      filter: grayscale(100%);
    }
  }
}

.card time {
    font-size: 11px;
    font-weight: 300;
}
