footer.footer{
  font-size: 14px;
  line-height: 1.7;
  border-top: 1px solid rgba(0,0,0,.08);
  padding-top: 40px;
  margin-top: 40px;
  color: $secondary-black;
  h5 {
    margin-top: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: $primary-black;
  }
  b {
    color: $primary-black;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 28px;
    margin-bottom: .5rem;
    li a {
      color: $secondary-black;
      text-decoration: none;
      &:hover {
        color: $primary-black;
      }
    }
    &.redes{
      li {
        display: inline-block;
        font-size: 20px;
        margin-right: 12px;
        a {
          color: $secondary-black;
          &:hover {
            color: $primary-black;
          }
        }
      }


    }
  }
  p {
    margin-bottom: 8px;
    font-size: 14px;
  }


  .post-footer {
      padding: 40px 0 10px;
      .post-footer__logos img {
          height: 40px;
          width: auto;
          margin: 10px 16px;
          &:first-child {
            margin-left: 0;
          }
      }
  }
}


.login--footer input {
    display: block;
    border: 1px solid rgba(34,36,38,.15);
    background-color: #fff;
    line-height: 1.4em;
    padding: 8px;
    font-size: 1em;
    color: rgba(0,0,0,.87);
    width: 200px;
    border-radius: 3px;
    @media screen and (min-width: 550px) and (max-width: 769px) {
      width: 100%;
    }
}

.login--footer label {
    font-weight: 700;
    color: rgba(0,0,0,.87);
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.login--footer button {
    width: 200px;
    background-color: #01a34f;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 3px;
    @media screen and (min-width: 550px) and (max-width: 769px) {
      width: 100%;
    }
}


.fa-issuu {
  height: 19px;
  width: auto;
  margin-top: -4px;
  opacity: .53;
  &:hover {
    opacity: .87;
  }
}
