.hero__overlay {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: -10px;
      left: 0;
      display: block;
      content: '';
      background: rgba(0,0,0,0.38);
      opacity: 1;
      -webkit-transition: opacity 300ms cubic-bezier(0,0,0.25,1);
      transition: opacity 300ms cubic-bezier(0,0,0.25,1);
  }
}

.hero--dark {
    color: $white;
}

.hero__video {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero__video video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
