.hero {
  padding: 7rem 0 4rem 0;
  margin-bottom: 2rem;
  position: relative;
  background-color: #fff;
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  @media screen and (max-width: 767px) {
    padding: 6rem 0 4rem 0;
  }
  &.--home {
    padding: 5rem 2rem 7rem;
    overflow: hidden;
    .hero_titulo {
      h1 {
        font-size: 3.375rem;
      }
      .sub,
      .tag {
        position: relative;
        z-index: 99;
      }
      @media screen and (max-width: 767px) {
        margin-bottom: 1rem;
        h1 {
          font-size: 2.5rem;
          line-height: 2.8rem;
        }
      }
    }
    .hero_bullets {
      position: relative;
      z-index: 99;
      &:before {
        content: "";
        background-color: rgba(0, 0, 0, 0.42);
        top: -9999px;
        bottom: -9999px;
        right: -9999px;
        left: 0;
        position: absolute;
        overflow: hidden;
        z-index: -1;
      }
      @media screen and (max-width: 767px) {
        padding-top: 15px;
        &:before{
          top: 0;
          left: -9999px;
        }
        ._bullet{
          padding-left: 32px;
          .list-icon{
            left: 0;
          }
        }
      }
    }
  }
  &.--blanco {
    padding-top: 7rem;
    padding-bottom: 2rem;
  }
  h1 {
    margin: 8px 0;
    line-height: 1.1;
  }
  h1, h2, h3, h4, h5, h6 {
    position: relative;
    z-index: 99;
  }
  .background-autor {
    position: absolute;
    z-index: 999;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    opacity: .87;
    bottom: .5rem;
    left: .5rem;
    text-shadow: none;
  }
  .tipo {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
  }
  &.--background-color {
    color: #fff;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    h1, h2, h3, h4, h5, h6 {
      color: #fff;
    }
  }
  &.--overlay:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0,0,0,0.3);
    z-index: 3;
  }
  .hero_video {
    overflow: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    video {
      position:  absolute;
      width: 100%;
      top: -9999px;
      left: -9999px;
      right: -9999px;
      bottom: -9999px;
      margin: auto;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .hero_bullets {
    position: relative;
    z-index: 99;
    ._bullet {
      position: relative;
      margin-bottom: 1rem;
      .list-icon {
          background-color: #fff;
          width: 32px;
          height: 32px;
          top: calc(50% - 16px);
          left: -32px;
          border-radius: 50%;
          text-align: center;
          position: absolute;
          color: #000;
          font-size: 14px;
          line-height: 32px;
      }
      .info {
        margin-left: .5rem;
        display: block;
      }
      span {
        font-size: 12px;
        font-weight: 300;
        color: rgba(255,255,255,0.87);
      }
      h5 {
        color: #fff;
        font-weight: 300;
        margin-bottom: 0;
      }
      a {
        font-size: 14px;
        font-weight: 300;
        color: #fff;
      }
    }
  }
  &.--beneficio {
    margin-bottom: 7rem;
    padding: 7rem 2rem;
    @media screen and (max-width: 767px) {
      padding: 7rem 0rem;
    }
    h1 {
      font-size: 3.375rem;
      @media screen and (max-width: 767px) {
        font-size: 2.6rem;
      }
    }
    &.--becas {
      .list-icon {
        background-color: $green;
        color: #fff;
      }
    }
    &.--concursos {
      .list-icon {
        background-color: $red;
        color: #fff;
      }
    }
    &.--prestamos {
      .list-icon {
        background-color: $blue;
        color: #fff;
      }
    }
    &.--subsidios {
      .list-icon {
        background-color: $yellow;
        color: #fff;
      }
    }
    .hero_bullets {
      padding-left: 4rem;
      ._bullet {
        position: relative;
        margin-bottom: 1.8rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}






.beneficios {
    margin-top: -110px;
    z-index: 9;
    position: relative;
    #beneficios-slider{
      .slick-arrow{
        background: rgba(255, 255, 255, 0) !important
      }
    }
    @media screen and (max-width: 769px) {
      margin-top: 0;
    }
}

.beneficios_benefecio {
    text-align: center;
    p {
      font-size: 14px;
      font-weight: 300;
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
    }
    h2 {
      margin: 1rem 0;
      &:before {
        content: "";
        width: 50%;
        height: 1px;
        position: relative;
        display: block;
        top: 0;
        margin: 1rem auto;
        opacity: .5;
      }
    }
    svg {
      -webkit-filter: drop-shadow(2px 0 10px rgba(0, 0, 0, 0.2));
      filter: drop-shadow(2px 0 10px rgba(0, 0, 0, 0.2));
      transition: filter 0.25s ease-in-out;
    }
    &:hover {
      p {
        opacity: 1;
      }
      svg {
        -webkit-filter: drop-shadow(4px 0 20px rgba(0, 0, 0, 0.4));
        filter: drop-shadow(4px 0 20px rgba(0, 0, 0, 0.4));
      }
    }
    &.--beca {
      color: $green;
      h2 {
        color: $green;
        &:before {
          background-color: $green;
        }
      }
    }
    &.--concurso {
      color: $red;
      h2 {
        color: $red;
        &:before {
          background-color: $red;
        }
      }
    }
    &.--prestamo {
      color: $blue;
      h2 {
        color: $blue;
        &:before {
          background-color: $blue;
        }
      }
    }
    &.--subsidio {
      color: $yellow;
      h2 {
        color: $yellow;
        &:before {
          background-color: $yellow;
        }
      }
    }
    @media screen and (max-width: 769px) {
      max-width: none;
    }
}
