nav.navbar {
  transition: all 0.5s ease-in-out;
  font-size: 12px;
  text-transform: uppercase;
  a.dropdown-item {
    font-size: .8rem;
    padding: .3rem .5rem;
    text-transform: none;
  }
  &.navbar-transparent {
    color: $white;
    background-color: transparent;
  }
  &.fixed-top.scrolled {
    background-color: #fff;
    color: $primary-black;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    @media screen and (max-width: 769px) {
      .logo.--mobile {
        opacity: 0;
        visibility: hidden;
      }
      .user__email {
        display: none;
      }
    }
  }
  .navbar-brand {
    height: 40px;
    padding: 0;
    .logo {
      position: absolute;
      transition: filter 0.25s ease-in-out;
      &.logo--mobile {
        opacity: 0;
        visibility: hidden;
      }
      @media screen and (max-width: 769px) {
        &.logo--mobile {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    img {
      height: 40px;
      width: auto;
      margin-left: -3px;
    }
  }
  ul {
    flex-direction: row;
    &.--blanco{
      color: $white;
    }
    &.--color{
      color: $primary-black;
    }
    li.nav-item {
      margin-right: 15px;
      @media screen and (max-width: 769px) {
        .user__email{
          display: none;
        }
      }
      &:last-child {
          margin-right: 0;
      }
    }
  }
  &.scrolled {
    ul {
      flex-direction: row;
      &.--blanco{
        color: $primary-black;
      }
    }
  }
}




.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.95);
    overflow-x: hidden;
    transition: 0.25s;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
}


.overlay__content {
  position: relative;
  top: 16%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  ul {
    display: inline-block;
    list-style: none;
  }
}


.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #555;
    display: block;
    transition: 0.25s;
    font-weight: 300;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #222;
}



.opened-menu .navbar {
    color: rgba(0,0,0,0.87);
}
.opened-menu {
  .logo.--blanco {
    opacity: 0 !important;
    visibility: hidden;
  }
}
.opened-menu {
  .navbar-nav{
    color: $black !important;
  }
  .logo.--color {
    opacity: 1 !important;
    visibility: visible;
  }
  @media screen and (max-width: 769px) {
    .logo.--color {
      opacity: 0 !important;
      visibility: hidden;
    }
    .logo.--mobile-color {
      opacity: 1 !important;
      visibility: visible;
    }
  }
}


.logo-cvo {
  .logo-cvo__imagen {
    width: 200px;
    height: auto;
    @media screen and (max-width: 767px) {
      width: 140px;
    }
  }
}
