.premios {
  .title {
      max-width: 500px;
      font-size: 24px;
      font-weight: 300;
      text-align: center;
      margin: 2rem auto;
  }
  article {
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: .25rem;
    margin-bottom: 1rem;
    overflow: hidden;
    h5 {
        background-color: $secondary-black;
        color: #fff;
        text-align: center;
        padding: .5rem 0;
        margin-bottom: 0;
    }
    h2 {
      text-align: center;
      padding: 1rem 0;
      margin: 0;
    }
  }
}

.concurso .premios h5 {
  background-color: $red;
}
.beca .premios h5 {
  background-color: $green;
}
