.slick-slider{
  @media screen and (max-width: 769px) {
    .slick-track .slick-slide{
      .card-paret{
        height: 100%;
        padding: 0 1rem;
      }
    }
    .slick-arrow{
      width: 30px !important;

    }
  }
}